body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
}

main {
    display: flex;
    flex-direction: row;
    flex: auto;
    background-color: aqua;
}

article {
    flex: 2;
    overflow-y: auto;
}

aside {
    flex: 1;
    overflow-y: auto;
}

table {
    border-collapse: separate;
    border-spacing: 10px;
}

thead {
    text-align: left;
}
th {
    font-weight: 800;
}

td {
    padding: 10px;
    border: 1px solid #ccc;
}

article a img{
    margin-bottom: 10px;
}